body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  /* height: -webkit-fill-available; 
  overflow-x: auto;
  overflow-y: hidden;  */
}

.bg-green {
  background-color: green;
  min-height: 100vh;
}

.btn-orange {
  background-color: #FFC72C;
  color: white;
}

.w-20 {
  width: 23%;
}

.mh-50 {
  max-height: 50%;
}